@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="">
    <h1>Re-Mindz</h1>
    <p class="lead">1) Summarize your prediction in the box below</p>
    <textarea style="" id="predictionText">Windows phone is dead</textarea>
    <br /><br />
    <p class="lead">2) When should we remind you?</p>
    <p><div  data-date="1" class="jsDateSet btn btn-primary btn-lg">Next month</div> <div data-date="6" class="jsDateSet btn btn-primary btn-lg">Six months</div> <div data-date="12" class="jsDateSet btn btn-primary btn-lg">A year from now</div></p>
    <input type="text" id="predictionDate" />
    <br/><br/>
    <p class="lead">3) How do we contact you?  (enter multiple emails separated by ;)</p>
    <input type="text" id="email" style="" value="urban.bjorkman@gmail.com"/>
    <br/><br/>
    <p><div class="jsSave btn btn-primary btn-lg">Save prediction</div></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>